$theme-color: #d33a31;
$theme-color-dark: #d33a31c7;
$theme-color-light: #e6180c;
$black: #000;
$light-black: #242424;
$white: #fff;
$gold: #e7aa5a;
$blue: #1989fa;
$grey-light: #ebeef57d;
$grey: #ebeef5;
$grey-dark: #909399;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-md: 15px;
$font-size-sm: 12px;
$font-size-xs: 10px;

$header-height: 64px;
$header-index: 999;
$menu-width: 200px;
$footer-height: 72px;
$footer-index: 1003;
$current-song-index: 1001;
$playlist-width: 420px;
$playlist-index: 1002;

// 版心宽度
$content-width: 1080px;

// ay-popover
$popover-index: 1200;

// ay-meun
$menu-bg: #ebeef547;
$menu-title-height: 56px;
$menu-title-color: #909399;
$menu-item-active: #ebeef5;
$menu-item-height: 50px;

// ay-carousel
$carousel-trigger-index: 40;

// ay-card
$card-header-height: 40px;

// ay-loading
$loading-index: 2000;

// ay-notification
$notification-width: 230px;
$notification-index: 9999;
$notification-padding: 14px 26px 14px 13px;